div(ng-include='"components/navbar/navbar.html"')
.container.center-block
  .row
    .col-md-8.col-centered
      h1 'Previous/Next' example
      div
        span
          | Page:
          span#page_num
          | /
          span#page_count
      canvas#the-canvas(style='border:1px solid black')
    .col-md-4.col-centered
      .row
        .col-centered
          h1 Chat
          .row(ng-repeat='chat in chatMessages')
            .col-md-3.col-centered ({{chat.time}})
            .col-md-3.col-centered {{chat.author}}:
            .col-md-6.col-centered {{chat.content}}
          #chatContent
          form
            p.input-group
              input.form-control(type='text', placeholder='Ecrire un message.', ng-model='newMessage')
              span.input-group-btn
                button.btn.btn-primary(type='submit', ng-click='addMessage()') Send
      .row
        .col-centered
          h1 Mood
