div(ng-include='"components/navbar/navbar.html"')
.container.center-block
  .row
    .col-md-8.col-centered(style='width:70%')
      div
        button.btn.btn-primary#prev(ng-click='onPrevPage()') Previous
        button.btn.btn-primary#next(ng-click='onNextPage()') Next
        span
          | Page:
          span#page_num
          | /
          span#page_count
        canvas#the-canvas(style='border:1px solid black; height:100%; width:100%; display:block')
    .col-md-4.col-centered(style='width:30%')
      .row
        .col-centered
          h1 Lecture : {{lectureId}}
      .row.no-gutter
        .col-centered
          h1 Chat
          div#msgWrapper(style='height:400px; width:100%; overflow-y: scroll; overflow-x: hidden;')
              .row.no-glutter(ng-repeat='chat in chatMessages')
                hr
                .col-md-1.col-centered(style='width:25%;') {{chat.time}}
                .col-md-1.col-centered(style='width:25%;') {{chat.author}}
                .col-md-1.col-centered(style='width:50%') {{chat.content}} 
          #chatContent
      .row
        .col-centered
          h1 Mood