.fill
    height: 100%
    margin: 0px
    padding: 0px
    overflow: no-scroll

.left
    width:75%
    padding-left: 0px
    padding-right: 5px

.right
    width:25%

#the-canvas
    border:1px solid black 
    height:100%
    width:100%
    display:block
    overflow: hidden
    
h3
    margin-top: 0px
    margin-bottom: 0px
    
#msgWrapper
    height:550px
    width:100%
    overflow-y: scroll
    overflow-x: hidden
    
.col1on3
    width:25%

.col2on3
    width:25%        

.col3on3
    width:50%    