div(ng-include='"components/navbar/navbar.html"')
header#banner.hero-unit
  .container
    h1 Classroom Conference App
    p.lead Join or create your classroom lecture
.container
  .row
    .col-lg-3
      h1 Join a lecture:
    .col-lg-4
      form.thing-form
        p.input-group
          input.form-control(type='text', placeholder='Type the lecture code', ng-model='lecture.id')
          span.input-group-btn
            button.btn.btn-primary(type='submit', ng-click='joinLecture()') Join
  div(ng-if='isTeacher')
    .row
      .col-lg-12
        h1 Add a slide deck  
      .col-sm-6
        form
              p.input-group
                input.form-control(type='text', name="title", placeholder='Write a title', ng-model='newLectureModel.title')
                input.form-control(type='text', name="author", placeholder='Write an author', ng-model='newLectureModel.author')
                input.form-control(type='text', name='pdfPath', placeholder='Select a pdf file', ng-model='newLectureModel.pdfPath')
                //
                  input.form-control(type='file', name='pdfPath', placeholder='Select a pdf file', ng-model='newLectureModel.pdfPath', accept='application/pdf')
            div
                  button.btn.btn-primary(type='submit', ng-click='addLectureModel()') Add
          hr
    .row
      .col-lg-12
        h1 List of slide decks
    .row
      .col-lg-12
        .col-md-3.col-centered Title
        .col-md-3.col-centered Author
        .col-md-3.col-centered PDF
        .col-md-3.col-centered Action
        .row(ng-repeat='lectureModel in lectureModels')
          .col-md-3.col-centered {{lectureModel.title}}
          .col-md-3.col-centered {{lectureModel.author}}
          .col-md-3.col-centered {{lectureModel.pdfPath}}
          .col-md-3.col-centered
            a(ng-click='startLecture($index)') start lecture
  footer.footer
    .container
      p Classroom Conference App
