div(ng-include='"components/navbar/navbar.html"')
header#banner.hero-unit
  .container
    h1 Classroom Conference App
    p.lead Sign up or login 
    p.lead and join or create your classroom lecture
.container
  .row
    .col-lg-3
      h1 Join a lecture:
    .col-lg-4
      form.thing-form
        p.input-group
          input.form-control(type='text', placeholder='Type the lecture code', ng-model='lecture.id')
          span.input-group-btn
            button.btn.btn-primary(type='submit', ng-click='joinLecture()') Join
  // Ne fonctionne pas :  div(ng-if='Auth.isTeacher()')
  div
    .row
      .col-lg-12
        h1 List of slide decks
    .row
      .col-lg-12
        .col-md-3.col-centered Title
        .col-md-3.col-centered Author
        .col-md-3.col-centered PDF
        .col-md-3.col-centered Action
        .row(ng-repeat='lectureModel in lectureModels')
          .col-md-3.col-centered {{lectureModel.title}}
          .col-md-3.col-centered {{lectureModel.author}}
          .col-md-3.col-centered {{lectureModel.pdfPath}}
          .col-md-3.col-centered
            a(ng-click='startLecture($index)') start lecture
  footer.footer
    .container
      p Classroom Conference App
